<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Details</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movies</a>
            <% if (!user) { %>
                <!-- display login, rgister button when user is logged out-->
                <a href="/auth/register">Register</a>
                <a href="/auth/login">Login</a>
            <% } else { %>
                <!-- only visible when user is logged in-->
                <span>Welcome, <%= user %></span>
                <a href="/auth/logout">Logout</a>
            <% } %>
        </nav>

        <div class="container">

            <h2 class="title"><%= movie.name %></h2>

            <div class="details">
                <img src="<%= movie.image %>" class="details-img">

                <div class="movieInfos">
                    <p><%= movie.description %></p>
                    <p>Year: <%= movie.year %></p>
                    <p>Genre: <%= movie.genre %></p>
                    <p>Rating: <%= movie.rating %></p>

                    <div class="detailBtn">
                        <a href="/movies/edit/<%= movie._id %>" class="btn-detail">Edit</a>
                        <form action="/movies/delete/<%= movie._id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn-detail">Delete</button>
                        </form>
                        <a href="/movies" class="btn-detail btn-white">Back to list</a>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>